*.orig
*.rej
*#
*~
*.diff
*to_utf-8*.h
/firmware/.settings
/firmware/.cproject
/firmware/Debug
/firmware/Debug_GD-77
/firmware/Debug_DM-1801
/firmware/Debug_GD-77S
/firmware/Debug_RD-5R
/firmware/Release
/firmware/*.launch
/firmware/linkerdata/*.*
/ComTool/.vs
/ComTool/ComTool/bin
/ComTool/ComTool/obj
/tools/font_tools/font_converter/font_*
/tools/font_tools/font_converter/UC1701_font_tool
/tools/font_tools/font_converter/UC1701_font_tool.o
/tools/font_tools/font_converter/UC1701_font_tool_JA
/tools/font_tools/font_converter/UC1701_font_tool_JA.o
/tools/bin2sgl/.vs
/tools/bin2sgl/obj
.project
.cproject

